<div class="container">
    <div class="music">
        <embed src="../../assets/1.mp3" loop="true" autostart="true" width="2" height="0">
    </div>
    <div class="image">
        <h3 style="color: white;"><b>Welcome to Wumpus World</b></h3>
        <img src="../../assets/wumpusgif.gif"/>
    </div>
    <div class="menu">
        <ul>
            <li (click)="play()" class="btn btn-dark"><h5 style="text-align: center;">Play</h5></li>
            <!-- <li class="btn btn-group btn-dark">Continue</li>
            <li class="btn btn-group btn-dark">Exit</li> -->
        </ul>
    </div>
    
</div>
