<div class="container mt-2">

  <div class="canvus flex-div">
    <div class="game-board">

      <div class="progress mb-2">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="flex-div" *ngFor="let row of board;let i=index">
        <div  *ngFor="let col of row;let j=index" >
          <div *ngIf="board[i][j]==0" class="column">

          </div>
          <div *ngIf="board[i][j]==1 && checkGridStatus(i, j) == 'SB'" class="column visited ">

            <h6 class="text">Stench & Bridge</h6>
          </div>
          <div *ngIf="board[i][j]==1 && checkGridStatus(i, j) == 'Br'" class="column visited ">

            <h6 class="text">Bridge</h6>
          </div>
          <div *ngIf="board[i][j]==1 && checkGridStatus(i, j) == 'St'" class="column visited ">

            <h6 class="text">Stench</h6>
          </div>
          <div *ngIf="board[i][j]==1 && checkGridStatus(i, j) =='S'" class="column visited ">

          </div>
          <div *ngIf="board[i][j]==1 && traverse_board[i][j]=='G'" class="column visited ">
            <img src="../../assets/gold.png" width="50px" height="50px" alt="" class="board-image">


          </div>
          <div *ngIf="board[i][j]==1 && (traverse_board[i][j]=='A' || traverse_board[i][j]=='W' || traverse_board[i][j]=='P')" class="column visited ">

          </div>
          <div *ngIf="board[i][j]==2 && traverse_board[i][j]=='Br'" class="column">
            <embed src="../../assets/bridge.mp3" loop="true" autostart="false" width="0" height="0">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
          <div *ngIf="board[i][j]==2 && traverse_board[i][j]=='SB'" class="column">
            <embed src="../../assets/sb.mp3" loop="true" autostart="false" width="0" height="0">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
          <div *ngIf="board[i][j]==2 && traverse_board[i][j]=='St'" class="column">
            <embed src="../../assets/stench.mp3" loop="true" autostart="false" width="0" height="0">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
          <div *ngIf="board[i][j]==2 && (traverse_board[i][j]=='W' || traverse_board[i][j]=='P')" class="column">
            <embed src="../../assets/game_over.mp3" loop="true" autostart="false" width="0" height="0">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
          <div *ngIf="board[i][j]==2 && (traverse_board[i][j]=='S' || traverse_board[i][j]=='A')" class="column">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
          <div *ngIf="board[i][j]==2 && (traverse_board[i][j]=='G')" class="column">
            <embed src="../../assets/gold.mp3" loop="true" autostart="false" width="0" height="0">
            <img src="../../assets/agent.png" width="50px" height="50px" alt="" class="board-image">
          </div>
        </div>
      </div>
    </div>

    <div class="main-board">
      <div class="flex-div" *ngFor="let row of copy_traverse_board;let i=index">
        <div  *ngFor="let col of row;let j=index" >

          <div *ngIf="board[i][j]!=2 && copy_traverse_board[i][j]=='W'" class="column2 visited ">
            <img src="../../assets/wumpus.png"  alt="" class="move">
          </div>
          <div *ngIf="board[i][j]!=2 &&copy_traverse_board[i][j]=='P'" class="column2 visited ">
            <img src="../../assets/pit.png"  alt="" class="move">
          </div>
          <div *ngIf="board[i][j]!=2 &&copy_traverse_board[i][j]=='S'" class="column2 visited ">

          </div>
          <div *ngIf="board[i][j]!=2 &&copy_traverse_board[i][j]=='G'" class="column2 visited ">
            <img src="../../assets/gold.png"  alt="" class="move">
          </div>

          <div *ngIf="board[i][j]==2" class="column2 ">
            <img src="../../assets/agent.png"  alt="" class="move">
          </div>

        </div>
      </div>
    </div>
  </div>

    <div class="move-event">
      <button (click)="moveUp()">Up</button>
      <button (click)="moveDown()">Down</button>
      <button (click)="moveRight()">Right</button>
      <button (click)="moveLeft()">Left</button>
    </div>
    <div class="arrow-event">
      <button (click)="arrowUp()">arrowUp</button>
      <button (click)="arrowDown()">arrowDown</button>
      <button (click)="arrowRight()">arrowRight</button>
      <button (click)="arrowLeft()">arrowLeft</button>
    </div>
  </div>
